{% extends 'EmploymentAgency/base.html' %}
{% load static %}
{% block body %}


<div class="hero vh-100 d-flex align-items-center " id="home">
    <section class="container text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
                    <h1 class="display-4 text-white" id="bb">Lets Get you your dream Job</h1>
                    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel hic odio neque,
                        voluptas consequatur, deserunt molestiae libero atque placeat numquam aliquam veritatis dolores
                        corrupti. Excepturi omnis soluta veritatis rerum ex?</p>
                    <a class="btn btn-primary me-4">Apply Now</a>
                    <a class="btn btn-outline-light">Terms and Conditions</a>
                </div>

            </div>
        </div>
    </section>
</div>

<section id="section" class="pt-5 pb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center " data-aos="fade-up">
                <h6 class="text-primary">SERVICES</h6>
                <h1>Our Services</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, aspernatur facilis iste tempora
                    magnam doloribus dolore a iure unde voluptate culpa dolor exercitationem id itaque at architecto
                    laboriosam eos reiciendis!</p>

            </div>
        </div>

        <div class="row bg-white pt-5 " data-aos="fade-up">
            <div class="col-lg-3 col-sm-6 text-center align-items-center p-4">
                <div class="service card-effect ">
                    <div class="iconbox mx-auto">
                        <i class="bx bxs-comment-detail"></i>
                    </div>
                    <h5>Service</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla facilis ipsum nam culpa inventore
                        molestias commodi autem veritatis pariatur laborum.</p>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center align-items-center p-4">
                <div class="service card-effect ">
                    <div class="iconbox mx-auto">
                        <i class="bx bxs-comment-detail"></i>
                    </div>
                    <h5>Service</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla facilis ipsum nam culpa inventore
                        molestias commodi autem veritatis pariatur laborum.</p>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center align-items-center p-4">
                <div class="service card-effect ">
                    <div class="iconbox mx-auto">
                        <i class="bx bxs-comment-detail"></i>
                    </div>
                    <h5>Service</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla facilis ipsum nam culpa inventore
                        molestias commodi autem veritatis pariatur laborum.</p>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center align-items-center p-4">
                <div class="service card-effect ">
                    <div class="iconbox mx-auto">
                        <i class="bx bxs-comment-detail"></i>
                    </div>
                    <h5>Service</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla facilis ipsum nam culpa inventore
                        molestias commodi autem veritatis pariatur laborum.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Picture Paragraph Section-->
<!--
<section class="bg-light text-dark p-5 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="">
                <h1>Get your dream <span class="text-warning">JOB</h1></span>
                <p class="lead">
                    hsdgfjdsgfhsdgjfdsbf s dfhs sdfhsdhfghgs fhdh fgsjd fjsdg fls adgf fajhg
                </p>
            </div>
            <img src="{% static 'EmploymentAgency/gas.jpg' %}" alt="logo" class="img-fluid w-50 p-2 float-right">
        </div>
    </div>
</section>
-->
<!--Picture Pkus Paragraph Perfect-->

<section class="bg-light text-dark pt-4 text-center">
    <div class="container">
        <div class="row w-100">

            <div class="col-md-6 text-center my-auto">
                <h1>Get your dream <span class="text-warning">JOB</h1></span>
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, aspernatur facilis iste tempora
                    magnam doloribus dolore a iure unde voluptate culpa dolor exercitationem id itaque at architecto
                    laboriosam eos reiciendis!
                </p>
            </div>
            <div class="col-md-6">
                <div class="col-img">
                    <img class="img-fluid img-fluids" src="{%static 'EmploymentAgency/scott.jpg'%}" alt="">
                </div>
            </div>
            <!--<img src="{% static 'EmploymentAgency/gas.jpg' %}" alt="logo" class="img-fluid p-2 float-right imeji">-->


        </div>
    </div>
</section>

<section class="bg-light text-dark pt-4 pb-3 text-center">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-6">
                <div class="col-img">
                    <img class="img-fluid img-fluids" src="{%static 'EmploymentAgency/chris.jpg'%}" alt="">
                </div>
            </div>
            <!--<img src="{% static 'EmploymentAgency/gas.jpg' %}" alt="logo" class="img-fluid p-2 float-right imeji">-->

            <div class="col-md-6 text-center my-auto">
                <h1>Get your dream <span class="text-warning">JOB</h1></span>
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, aspernatur facilis iste tempora
                    magnam doloribus dolore a iure unde voluptate culpa dolor exercitationem id itaque at architecto
                    laboriosam eos reiciendis!
                </p>
            </div>

        </div>
    </div>
</section>

<!--Meet Our team Section-->

<section class="pt-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">TEAM</h6>
                <h1>Meet Our Crew Members</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto amet delectus ex beatae sint
                    maiores commodi unde natus quae. Quos voluptatibus recusandae excepturi voluptatum adipisci corrupti
                    culpa velit officiis eius?
                </p>

            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6 gy-4">
                    <div class="team-member card-effect">
                        <img src='{% static ' EmploymentAgency/chris.jpg' %}' alt="" class="">
                        <h5 class="mb-0 mt-4">Jonney Zituta</h5>
                        <p>Recruiter</p>
                        <div class="social-icons">
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#twitter" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#instagram" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#facebook" />
                                </svg></a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6 gy-4">
                    <div class="team-member card-effect">
                        <img src='{% static ' EmploymentAgency/jason.jpg' %}' alt="" class="">
                        <h5 class="mb-0 mt-4">Jonney Zituta</h5>
                        <p>Recruiter</p>
                        <div class="social-icons">
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#twitter" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#instagram" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#facebook" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 gy-4">
                    <div class="team-member card-effect">
                        <img src='{% static ' EmploymentAgency/joined.jpg' %}' alt="" class="">
                        <h5 class="mb-0 mt-4">Jonney Zituta</h5>
                        <p>Recruiter</p>
                        <div class="social-icons">
                            <a class="link-white" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#twitter" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#instagram" />
                                </svg></a>
                            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#facebook" />
                                </svg></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--End of Meet our team Section-->
<!--Div Block-->
<section class="bg-primary text-light p-5 text-center">
    <div class="container">
        <div class="mb-3 mb-md-0">
            <h1>Available Vaccancies</h1>
        </div>
    </div>
</section>

<section class="p-5 bg-light text-dark text-align-center">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            General Hands
                        </h3>
                        <p class="card-text">jsdhsjfjh s djhfk jhsd fkjshd jusdi shjhdfk sdhf ksdhf ksdhf ksd
                            fufyisudyifusyidfusdif sduifyisd fisuydf isudkfsdjh kd</p>
                        <a href="#" class="btn btn-primary">Read More ...</a>

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Class 2 Driver
                        </h3>
                        <p class="card-text">jsdhsjfjh s djhfk jhsd fkjshd jusdi shjhdfk sdhf ksdhf ksdhf ksd
                            fufyisudyifusyidfusdif sduifyisd fisuydf isudkfsdjh kd</p>
                        <a href="#" class="btn btn-dark">Read More ...</a>

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">
                            Civil Engineer
                        </h3>
                        <p class="card-text">jsdhsjfjh s djhfk jhsd fkjshd jusdi shjhdfk sdhf ksdhf ksdhf ksd
                            fufyisudyifusyidfusdif sduifyisd fisuydf isudkfsdjh kd</p>
                        <a href="#" class="btn btn-outline-light">Read More ...</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Learn Fundamentals-->
<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img class="img-fluid" alt="jsdj" src="{% static 'EmploymentAgency/gas.jpg' %}">
            </div>
            <div class="col-md p-5">
                <div>
                    <h2>kjhskfhkdjf</h2>
                    <p class="lead">jshdjkf sdhkjshdjk fkljshckjhskdhjsd ksdjhk fjsdhf jshdjkf sdhkjshdjk
                        fkljshckjhskdhjsd ksdjhk fjsdhfkjsdh fksjhd kfsldhfjd skdjf skjdh fksjd fsdj h lksdh flkshdkfjh
                        slkj</p>
                    <p class="lead">T jshdjkf sdhkjshdjk fkljshckjhskdhjsd ksdjhk fjsdhf jshdjkf sdhkjshdjk
                        fkljshckjhskdhjsd ksdjhk fjsdhf jshdjkf sdhkjshdjk fkljshckjhskdhjsd ksdjhk fjsdhf jshdjkf
                        sdhkjshdjk fkljshckjhskdhjsd ksdjhk fjsdhf jshdjkf sdhkjshdjk fkljshckjhskdhjsd ksdjhk
                        fjsdhfjshdjkf sdhkjshdjk fkljshckjhskdh lksdh flksh f sdhfks jdhfk ljhaksd fk askhkdjhfiausf
                        ehkhhfd kfahsjdkhfuie fjhkfjhasdfeiuhkjdf aksd k dkfjh slkj</p>
                    <a href="#" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Read More</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Form Baba-->
<section class="p-5">
    <div class="container">

    </div>
</section>

<!--Footer-->
<footer>
    <div class="footer-top bg-dark">
        <div class="row gy-4">
            <div class="col-md-4">
                <img class="logo" src="" alt="">
            </div>
            <div class="col md-2">
                <h5 class="text-white">Brand</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="col md-2">
                <h5 class="text-white">Brand</h5>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Warrant</a></li>
                    <li><a href="#">Shipment</a></li>
                </ul>
            </div>
            <div class="col md-6">
                <h5 class="text-white">Brand</h5>
                <ul class="list-unstyled">
                    <li>Address: Plot 14 Hunters close Unmwinsdale Harare Chishawasha, first right turn after service
                        station before the
                        tollgate.</li>
                    <li>Email:<a href="#">lavmalachi@gmail.com</a></li>
                    <li>Phone:Mobile Number(s): </li>
                    <li class="text-center">+(263)773072851</li>
                    <li class="text-center">+(263)774155497</li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'EmploymentAgency/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'EmploymentAgency/main.js' %}"></script>

{% endblock body %}