{% extends 'EmploymentAgency/base.html' %} {% block body %}
<!--Div Block-->
<section class="bg-primary text-light p-1">
  <div class="container text-center">
    <div class="mb-3 mb-md-0">
      <h1>Executive-Positions</h1>
    </div>
  </div>
</section>

<!--JOBS AVAILABLE-->
<section class="p-4 bg-dark">
  <div class="container">
    <div class="row text-light">
      <div class="col-md">
        <a href="#" class="nav-link"><h5>Executive Positions</h5></a>
      </div>
      <div class="col-md text-center">
        <a href="#" class="nav-link"><h5>Technical Positions</h5></a>
      </div>
      <div class="col-md text-center">
        <a href="#" class="nav-link"><h5>Engineering Positions</h5></a>
      </div>
      <div class="col-md text-center">
        <a href="#" class="nav-link"><h5>Construction Posts</h5></a>
      </div>
      <div class="col-md text-center">
        <a href="#" class="nav-link"><h5>General Hand Positions</h5></a>
      </div>
    </div>
  </div>
</section>

<!--JOBS AVAILABLE-->
<section class="p-5">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md" data-aos="fade-up">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
      <div class="col-md">
        <h5 class="text-primary">
          Non-Executive Director – Main Board – ZSE Listed Corporation
        </h5>
        <p>Legal Profession – Blue Chip Corporate</p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">11 JULY 2022</h4>
        <p></p>
      </div>
      <div class="col-md">
        <h4 class="text-primary">30</h4>
        <p class="font-weight-bold">VACCANCIES</p>
      </div>
      <hr class="color-secondary" />
    </div>
  </div>
</section>

{% endblock body %}
